.add-task-el {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.plus-sign {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--standard-blue);

  width: 26.5px;

  border-radius: 30px;
}

.add-task-text {
  color: var(--darker-gray);
}

.add-task-el:hover .plus-sign {
  color: var(--white);
  background: var(--standard-blue);
}

.add-task-el:hover .add-task-text {
  color: var(--standard-blue);
}
