.main {
  padding: 50px 250px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inbox title  */
.title {
  font-size: 1.7rem;
  font-weight: 700;
  cursor: default;
}

/* Tasks area */
.tasks {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
