*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 16px;

  --bg-blue: #dbeafe;
  --border-blue: #93c5fd;
  --lightest-blue: #60a5fa;
  --lighter-blue: #3b82f6;
  --standard-blue: #2563eb;

  --white: #fff;

  --gray: #f0f0f0;
  --dark-gray: #dedede;
  --darker-gray: #c7c7c7;
  --darkest-gray: #6b7280;

  --black: #000;

  --lightest-red: #fef2f2;
  --lighter-red: #f87171;
  --red: #ef4444;

  --lightest-orange: #ffedd5;
  --lighter-orange: #fdba74;
  --orange: #fb923c;

  --lightest-green: #dcfce7;
  --lighter-green: #86efac;
  --green: #4ade80;
}

.task-container {
  display: flex;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 3px;
}

.task-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.added-task-name {
  font-size: 1.1rem;
}

.added-task-description {
  font-weight: 300;
  color: var(--darker-gray);
  font-size: 0.8rem;
}

.added-task-due-date {
  font-weight: 300;
  color: var(--darker-gray);
  font-size: 0.8rem;
}

.task-operations-container {
  justify-self: flex-end;
}

.delete-task-button {
  border: none;
  border-radius: 50px;

  height: 20px;
  width: 20px;
  background-color: var(--white);
  color: var(--darker-gray);

  cursor: pointer;
}

.delete-task-button:hover {
  color: var(--white);
  background-color: var(--lighter-red);
}

input[type="checkbox"],
input[type="checkbox"].priorityFive {
  margin-top: 3px;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 15px;
  height: 15px;
  border: 2px solid currentColor;
  border-radius: 3px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"].priorityOne {
  background-color: var(--lightest-red);
  border-color: var(--lighter-red);
}

input[type="checkbox"].priorityTwo {
  background-color: var(--lightest-orange);
  border-color: var(--lighter-orange);
}

input[type="checkbox"].priorityThree {
  background-color: var(--bg-blue);
  border-color: var(--border-blue);
}

input[type="checkbox"].priorityFour {
  background-color: var(--lightest-green);
  border-color: var(--lighter-green);
}

input[type="checkbox"]::before,
input[type="checkbox"].priorityFive::before {
  content: "";
  width: 7px;
  height: 7px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 8px 8px var(--darkest-gray);
}

input[type="checkbox"].priorityOne::before {
  box-shadow: inset 8px 8px var(--red);
}

input[type="checkbox"].priorityTwo::before {
  box-shadow: inset 8px 8px var(--orange);
}

input[type="checkbox"].priorityThree::before {
  box-shadow: inset 8px 8px var(--lightest-blue);
}

input[type="checkbox"].priorityFour::before {
  box-shadow: inset 8px 8px var(--green);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
